@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ibmPlexMono";
  src: url("/font/IBMPlexMono-Regular.ttf");
}

@font-face {
  font-family: "ibmPlexSans";
  src: url("/font/IBMPlexSans-Regular.ttf");
}
  